@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Spartan);

* {
  box-sizing: border-box;
}

:root {
  --bg-color: #C3D2DE;
  --color-2: #909156;
  --color-3: #A8625F;
  --color-4: #DEA2A0;
  --color-5: #DCDE8C;
  /*--color-6: #5E5E5E;*/

  --main-font: "Spartan", sans-serif;
  --header-font: "Roboto Slab", serif;
  --main-text-color: #5E5E5E; /* QUITAR ESTE */

  --white-space: 1rem;
}

button {
  transition: all 3s;
}
a {
  transition: all 3s;
}
button:hover {
  transform: scale(1.1);
  box-shadow: 4px 4px var(--main-text-color);
}

button:active {
  background-color: var(--bg-color);
    /* CAMBIAR ESTO */
}

a:hover {
  background-color: var(--color-3);
  color: white;
  padding: 0.2rem;
}
html {
  font-size: 100%;
  font-family: var(--main-font);
}

img {
  max-width: 100%;
  height: auto;
}

header,
main,
footer {
  max-width: 1300px;
  margin: 0 auto;
  padding: calc(2 * var(--white-space));
}

.full-width {
  background: var(--bg-color);
  color: white;
  width: 100%;
}

.header-wrapper h1 {
  font-size: 3rem;
  /*letter-spacing: -2px;*/
  /*padding-right: 0.75em;*/
  font-weight: bold;
  color: white;
}

.header-wrapper h2 {
  font-size: 1.6em;
  color: white;
  font-weight: thin;
  margin-top: 1.5rem;
}

.header-wrapper h3 {
  font-size: 1.2rem;
  font-style: italic;
}

.header-wrapper h4 {
  font-size: 0.8rem;
}

main {
  padding: calc(2 * var(--white-space));
}

section {
  margin-bottom: calc(4 * var(--white-space));
}

.section-heading {
  font-size: 1.5rem;
  color: black;
  margin: 2rem 0;
  text-transform: uppercase;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: black;
    padding-bottom: .5rem;
}

ul {
  display: flex;
  justify-content: space-between;
}

.swatches li {
  margin-right: 5vw;
  height: 15vw;
  width: 20%;
}

ul li:last-child {
  margin-right: 0;
}

.color-swatch-1 {
  background-color: var(--bg-color);
}

.color-swatch-2 {
  background-color: var(--color-2);
}

.color-swatch-3 {
  background-color: var(--color-3);
}

.color-swatch-4 {
  background-color: var(--color-4);
}

.color-swatch-5 {
  background-color: var(--color-5);
}

.color-swatch-6 {
  background-color: var(--main-text-color);
}


.logo li {
  /*height: 30vw;
  width: 40%;
  margin-right: 5vw;*/
}

.logo-swatch {
    background-image:url(../img/yogajoy_logo.svg);
    background-size: 100%;
    width: 25vw;
    height: 11vw;
    background-repeat: no-repeat;
}


.images ul {
  flex-direction: column;
  text-align: center;
}

.images li {
  display: block;
  margin-bottom: 1rem;
}

button {
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  font: var(--main-font);
  letter-spacing: 1px;
  transition: all 0.2s ease;
  cursor: pointer;
  margin: 0 1rem 1rem 0;
  border-width: thin;
  border-style: solid;
  border-color: var(--main-text-color);
}

.primary-button {
  background: var(--color-5);
  color: var(--main-text-color);
  font-weight: bold;
}

.secondary-button {
  background: var(--color-4);
  color: var(--main-text-color);
  font-weight: bold;
}

.tertiary-button {
  background: var(--color-2);
  color: white;
  border-color: white;
}

.typography-main {
  color: var(--main-text-color);
}

.h1-sample {
  font-family: var(--header-font);
  font-size: 2.4rem;
  font-weight: bold;
}

.h2-sample {
  font-family: var(--header-font);
  font-style: italic;
  font-size: 1.5rem;
}

p.typography-sample {
  font-family: var(--main-font);
  line-height: 1.5;
  max-width: 960px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  font-family: var(--main-font);
  color: var(--color-6);
  text-decoration:underline;
  text-decoration-color: var(--color-3);
  transition: all 0.2s;
}

p[class*="font-details-"] {
  margin-top: 0.5rem;
  margin-bottom: calc(2 * var(--white-space));
  font-size: 0.75rem;
  font-family: var(--main-font);
  color: #6f6f6f;
  font-style: italic;
}

.adjectives ul {
  font-size: 2rem;
  opacity: 0.5;
}

.adjectives ul {
  flex-direction: column;
}

/*footer {
  font-style: italic;
}*/

@media (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }

  .swatches li {
    margin-right: 3%;
    height: 10vw;
    width: 20%;
  }

  .textures li {
    height: 15vw;
  }
}

@media (min-width: 900px) {
  .adjectives ul {
    flex-direction: row;
  }
}
